@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root{

    //Light theme
    --bg-color-light: #E6E6E6;
    --text-color-light: #36362C;
    --numbers-operations-color-light: #36362C;
    --button-color-light: #E5E4E1;
    --button-shadow-color-light: #A79E91;
    --text-del-reset-color-light: #FFFFFF;
    --button-del-reset-color-light: #378187;
    --button-del-reset-shadow-color-light: #1B6066;
    --text-equals-color-light: #FFFFFF;
    --button-equals-color-light: #C85402;
    --button-equals-shadow-color-light: #873901;
    --switch-bg-color-light: #D2CDCD;
    --switch-circle-color-light: #C85402;
    --screen-color-light: #EEEEEE;
    --keyboard-color-light: #D2CDCD;

    //Dark theme
    --bg-color-dark: #3A4663;
    --text-color-dark: white;
    --numbers-operations-color-dark: #434A59;
    --button-color-dark: #EAE3DC;
    --button-shadow-color-dark: #B3A497;
    --text-del-reset-color-dark: #FFFFFF;
    --button-del-reset-color-dark: #647198;
    --button-del-reset-shadow-color-dark: #414E73;
    --text-equals-color-dark: #FFFFFF;
    --button-equals-color-dark: #D03F2F;
    --button-equals-shadow-color-dark: #93261A;
    --switch-bg-color-dark: #242D44;
    --switch-circle-color-dark: #D03F2F;
    --screen-color-dark: #181F33;
    --keyboard-color-dark: #242D44;

    //Purple theme
    --bg-color-purple: #17062A;
    --text-color-purple: #FFE53D;
    --numbers-operations-color-purple: #FFE53D;
    --button-color-purple: #331C4D;
    --button-shadow-color-purple: #881C9E;
    --text-del-reset-color-purple: #FFFFFF;
    --button-del-reset-color-purple: #56077C;
    --button-del-reset-shadow-color-purple: #BE15F4;
    --text-equals-color-purple: #1A2327;
    --button-equals-color-purple: #00DED0;
    --button-equals-shadow-color-purple: #6CF9F1;
    --switch-bg-color-purple: #1E0936;
    --switch-circle-color-purple: #00DED0;
    --screen-color-purple: #1E0936;
    --keyboard-color-purple: #1E0936;
}

@media(prefers-color-scheme: dark){
    :root{
        --bg-color: var(--bg-color-dark);
        --text-color: var(--text-color-dark);
        --numbers-operations-color: var(--numbers-operations-color-dark);
        --button-color: var(--button-color-dark);
        --button-shadow-color: var(--button-shadow-color-dark);
        --text-del-reset-color: var(--text-del-reset-color-dark);
        --button-del-reset-color: var(--button-del-reset-color-dark);;
        --button-del-reset-shadow-color: var(--button-del-reset-shadow-color-dark);
        --text-equals-color: var(--text-equals-color-dark);
        --button-equals-color: var(--button-equals-color-dark);
        --button-equals-shadow-color: var(--button-equals-shadow-color-dark);
        --switch-bg-color: var(--switch-bg-color-dark);
        --switch-circle-color: var(--switch-circle-color-dark);
        --screen-color: var(--screen-color-dark);
        --keyboard-color: var(--keyboard-color-dark);
    }
}

@media(prefers-color-scheme: light){
    :root{
        --bg-color: var(--bg-color-light);
        --text-color: var(--text-color-light);
        --numbers-operations-color: var(--numbers-operations-color-light);
        --button-color: var(--button-color-light);
        --button-shadow-color: var(--button-shadow-color-light);
        --text-del-reset-color: var(--text-del-reset-color-light);
        --button-del-reset-color: var(--button-del-reset-color-light);;
        --button-del-reset-shadow-color: var(--button-del-reset-shadow-color-light);
        --text-equals-color: var(--text-equals-color-light);
        --button-equals-color: var(--button-equals-color-light);
        --button-equals-shadow-color: var(--button-equals-shadow-color-light);
        --switch-bg-color: var(--switch-bg-color-light);
        --switch-circle-color: var(--switch-circle-color-light);
        --screen-color: var(--screen-color-light);
        --keyboard-color: var(--keyboard-color-light);
    }
}

[color-scheme="dark"]{
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
    --numbers-operations-color: var(--numbers-operations-color-dark);
    --button-color: var(--button-color-dark);
    --button-shadow-color: var(--button-shadow-color-dark);
    --text-del-reset-color: var(--text-del-reset-color-dark);
    --button-del-reset-color: var(--button-del-reset-color-dark);;
    --button-del-reset-shadow-color: var(--button-del-reset-shadow-color-dark);
    --text-equals-color: var(--text-equals-color-dark);
    --button-equals-color: var(--button-equals-color-dark);
    --button-equals-shadow-color: var(--button-equals-shadow-color-dark);
    --switch-bg-color: var(--switch-bg-color-dark);
    --switch-circle-color: var(--switch-circle-color-dark);
    --screen-color: var(--screen-color-dark);
    --keyboard-color: var(--keyboard-color-dark);
}

[color-scheme="light"]{
    --bg-color: var(--bg-color-light);
        --text-color: var(--text-color-light);
        --numbers-operations-color: var(--numbers-operations-color-light);
        --button-color: var(--button-color-light);
        --button-shadow-color: var(--button-shadow-color-light);
        --text-del-reset-color: var(--text-del-reset-color-light);
        --button-del-reset-color: var(--button-del-reset-color-light);;
        --button-del-reset-shadow-color: var(--button-del-reset-shadow-color-light);
        --text-equals-color: var(--text-equals-color-light);
        --button-equals-color: var(--button-equals-color-light);
        --button-equals-shadow-color: var(--button-equals-shadow-color-light);
        --switch-bg-color: var(--switch-bg-color-light);
        --switch-circle-color: var(--switch-circle-color-light);
        --screen-color: var(--screen-color-light);
        --keyboard-color: var(--keyboard-color-light);
}

[color-scheme="purple"]{
    --bg-color: var(--bg-color-purple);
        --text-color: var(--text-color-purple);
        --numbers-operations-color: var(--numbers-operations-color-purple);
        --button-color: var(--button-color-purple);
        --button-shadow-color: var(--button-shadow-color-purple);
        --text-del-reset-color: var(--text-del-reset-color-purple);
        --button-del-reset-color: var(--button-del-reset-color-purple);;
        --button-del-reset-shadow-color: var(--button-del-reset-shadow-color-purple);
        --text-equals-color: var(--text-equals-color-purple);
        --button-equals-color: var(--button-equals-color-purple);
        --button-equals-shadow-color: var(--button-equals-shadow-color-purple);
        --switch-bg-color: var(--switch-bg-color-purple);
        --switch-circle-color: var(--switch-circle-color-purple);
        --screen-color: var(--screen-color-purple);
        --keyboard-color: var(--keyboard-color-purple);
}





html,
body{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan';
}

.wrapper{
    width: 540px;
    height: 710px;

    .logo-n-theme{
        height: 45px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-block: 32px;

        h1{
            margin: 0px;
            margin-top: 9px;
            color: var(--text-color)
        }

        .theme-changer{
            display: flex;
            flex-direction: row;
            height: 45px;
            color: var(--text-color);

            p{
                margin-top: auto;
                margin-bottom: 4px;
                margin-right: 25px;
            }

            .button{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 45px;
                width: 70px;

                .switch{ 
                    width: 70px;
                    height: 25px;
                    background-color: var(--switch-bg-color);
                    border-radius: 15px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-areas: 
                    "first second third"
                    ;
                    padding-inline: 2px;

                    .selector{
                        background-color: var(--switch-circle-color);
                        height: 17px;
                        width: 17px;
                        border-radius: 50%;
                        margin-block: auto;
                        margin-inline: auto;
                    }

                    .first-theme{
                        grid-area: first;
                    }
                    .second-theme{
                        grid-area: second;
                    }
                    .third-theme{
                        grid-area: third;
                    }
                }

                .switch:hover{
                    cursor: pointer;
                }
               
                .theme-number{
                    height: 20px;
                    width: 56px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p{
                        margin: 0px;
                    }
                }
            }
        }
    }

    .screen{
        width: 100%;
        min-height: 130px;
        height: auto;
        background-color: var(--screen-color);
        border-radius: 10px;
        margin-bottom: 25px;
        color: var(--text-color);
        text-align: right;
        padding-inline: 35px;
        padding-block: 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .previous-operand{
            height: auto;
            word-break: break-all; 
            min-height: 30px;
            width: 100%;
            font-size: 25px;
            line-height: 30px;
            opacity: 0.7;
            margin-bottom: 10px;
        }

        .current-operand{
            height: auto;
            width: 100%;
            font-size: 48px;
            word-break: break-all; 
        }
    }

    .keyboard{
        width: 100%;
        height: 480px;
        background-color: var(--keyboard-color);
        border-radius: 10px;
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        grid-template-rows: repeat(5, 1fr); 
        gap: 25px;
        padding: 30px; 
        box-sizing: border-box;

        button{
            background-color: var(--button-color);
            color: var(--numbers-operations-color);
            width: 100%;
            height: 100%;
            box-shadow: inset 0px -4px 0px var(--button-shadow-color);
            outline: 0px;
            border: 0px;
            border-radius: 10px;
            font-size: 32px;
            font-weight: 700;
        }

        button:hover{
            cursor: pointer;
            filter: brightness(160%);
        }
      

        .eight { grid-area: 1 / 2 / 2 / 3; }
        .nine { grid-area: 1 / 3 / 2 / 4; }
        .del { 
            grid-area: 1 / 4 / 2 / 5;
            font-size: 20px; 
            color: var(--text-del-reset-color);
            background-color: var(--button-del-reset-color);
            box-shadow: inset 0px -4px 0px var(--button-del-reset-shadow-color);
        }
        .plus { grid-area: 2 / 4 / 3 / 5; }
        .minus { grid-area: 3 / 4 / 4 / 5; }
        .x { grid-area: 4 / 4 / 5 / 5; }
        .multiply { grid-area: 4 / 4 / 5 / 5; }
        .four { grid-area: 2 / 1 / 3 / 2; }
        .five { grid-area: 2 / 2 / 3 / 3; }
        .six { grid-area: 2 / 3 / 3 / 4; }
        .one { grid-area: 3 / 1 / 4 / 2; }
        .two { grid-area: 3 / 2 / 4 / 3; }
        .three { grid-area: 3 / 3 / 4 / 4; }
        .decimal { grid-area: 4 / 1 / 5 / 2; }
        .zero { grid-area: 4 / 2 / 5 / 3; }
        .divide { grid-area: 4 / 3 / 5 / 4; }
        .reset {
            grid-area: 5 / 1 / 6 / 3;
            font-size: 20px; 
            color: var(--text-del-reset-color);
            background-color: var(--button-del-reset-color);
            box-shadow: inset 0px -4px 0px var(--button-del-reset-shadow-color);
        }
        .equals {
            grid-area: 5 / 3 / 6 / 5;
            font-size: 20px; 
            color: var(--text-equals-color);
            background-color: var(--button-equals-color);
            box-shadow: inset 0px -4px 0px var(--button-equals-shadow-color);
        }
        .seven { grid-area: 1 / 1 / 2 / 2; }
    }
}

@media screen and(max-width: 630px) {
    .wrapper{
        width: 90%;

        .screen{
            .previous-operand{
                font-size: 16px;
            }

            .current-operand{
                font-size: 32px;
                line-height: 100%;
            }
        }

        .keyboard{
            grid-gap: 10px;
            height: 420px;
        }
    }
}
